<div class="card-h">

  <div class="card-h-body">
  <h1> Directions to </h1>
  <%= image_tag "Sainsburys.png", alt: "alttext" %>
  </div>
  <div class="card-h-map">
  <%= image_tag "map.png", alt: "alttext"%>
  </div>
</div>
