
<div class="container-home" style="margin-right:300px;margin-left:350px">
  <div class="card" style="padding:20px; text-align:; border-radius:10px; color:#6D7D90">
    <p> At Cherrypickr, we are a bunch of girls and guys dedicated to bringing you the cheapest prices in the
      market place. The project is the brainchild of Alex S., ably assisted by Naomi A., Priyesh P. & Eric A.
      We are so confident in the search methods used that we have chosen to award points that can be reclaimed
      for shopping in the various supermarkets should you find cheaper products in your area within 3 days of
      executing any searches. </p>
    <p> Nevertheless, we always seek excellence in what we do and consequently will be happy for you to submit
      any issues you find when using our website.
    </p>
  </div>
  <div class="card" style="padding:20px; border-radius:10px; color:#6D7D90; margin-top:10px">
   <div class="profiles">
      <%= image_tag("Alex.png", :alt => "Alex - Cherrypickr team", class: "profile-picture") %>
      <%= image_tag("Naomi.png", :alt => "Naomi - Cherrypickr team", class: "profile-picture") %>
      <%= image_tag("Priyesh.png", :alt => "Priyesh - Cherrypickr team", class: "profile-picture") %>
      <%= image_tag("Eric.png", :alt => "Eric - Cherrypickr team", class: "profile-picture") %>
    </div>
   </div>
