<div class="container-home" style="margin-right:250px;margin-left:300px">
  <div class="card" style="padding:30px; text-align:; border-radius:10px; color:#6D7D90">
    <ol>
      <li>How to earn points for shopping?</li>
      <li>What are the search methods used?</li>
      <li>How we guarantee lowest prices?</li>
      <li>How often are deals refreshed?</li>
      <li>Click and collect</li>
      <li>Recommendations</li>
      <li>Complaints</li>
    </ol>
  </div>
</div>
