<div class="container">
  <div class="header">
  </div>
  <div class="searchbox">

    <form action="/products" class='search-form'>
      <div class="dflex">
        <input type="text" name=search[product] class="input50">
        <input type="text" name=search[postcode] class="input50">
      </div>
      <input type="integer" name=search[range] class="input100">
      <input type="submit" class="input100 cherry-btn" value="Find products">

      <div style="background-image: url(<%= image_path "navigation.svg" %>);">
        <!-- hello -->
      </div>

    </form>
  </div>
</div>



<div class="search-container">
        <%= text_field_tag :query,
          params[:query]
        %>
      <% end %>
      <div class="search">
        <%= submit_tag "Search" %>
      </div>
    </div>




