<div class="container-home">
  <div class="header">
    <h1 style="margin-top: -88px"><strong>COMPARE SUPERMARKET PRICES </strong></h1>
    <h1 style="margin-bottom: 24px"><strong>IN YOUR LOCAL AREA </strong></h1>
    <script src='typed.js'></script>
    <div id="typed">
      <h3><strong> GET YOUR PRICE ALERT NOW </strong></h3>
    </div>
  </div>
  <%= form_tag products_path, method: :get, class: "search-form" do %>
    <div class="search-boxes-inline d-flex">
      <%= text_field_tag :product,
        params[:product],
        class: "home-search-button typed",
        placeholder: "Enter Product"
      %>

      <%= submit_tag "Go", class: "btn cherry-btn" %>
    </div>
  <% end %>
</div>

  <div class="main-footer">
  <div class="footer-links">
     <!--  <h3> hey </h3> -->
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
</div>








