body.landing {
  background-image: url('../images/bg-angle-landing.png');
  background-repeat: no-repeat;
  background-position: 0 -40px;
}

body.inner {
  background-image: url('../images/bg-inner-top.png');
  background-repeat: no-repeat;
  background-position: 0 0px;
}
