.links a{
  top: 10px;
  right: 10px;
  justify-content:space-between;
  padding-right: 10px;
  padding: 10px;
  color: #95A5B8;
  font-size: 20px;
}

.btn {
  border-radius: 10px;
  padding: 10px;
  background-color: #95A5B8;
  color: white;
}
