.links a{
  top: 10px;
  right: 10px;
  justify-content:space-between;
  padding-right: 10px;
  padding: 10px;
  color: #95A5B8;
  font-size: 20px;
}

.btn {
  padding: 10px;

  background-color: #EF5C5B;
  color: white;
  border-radius: 12px;
}


.rounded{
  border-radius: 12px !important;
  margin-left: 50px;
  border:none
}

.here-btn {
  background-color:#FF5367;
  width: 418px;
  height: 66px;
  left: 0px;
  top: 155px;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;

}

.btn-2{
  background: #FF5367;
  border-radius: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 16px;
  margin-top:20px;
}

