.links a{
  top: 10px;
  right: 10px;
  justify-content:space-between;
  padding-right: 10px;
  padding: 10px;
  color: #95A5B8;
  font-size: 20px;
}

.btn {
  padding: 10px;
  background-color: #EF5C5B;;
  color: white;
}
.rounded{
  border-radius: 12px !important;
  margin-left: 50px;
}
