
//previous version without hover effect
// .card-index {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   border-radius: 20px;
// }

  .card-index:hover {
    border-radius: 20px;
    // border-left: 2px solid #95A5B8;
    // border-right: 2px solid #95A5B8;
    transition: ease-in-out 0.5s;
    -webkit-box-shadow: 3px 11px 15px 5px rgba(0,0,0,0.41);
    -moz-box-shadow: 3px 11px 15px 5px rgba(0,0,0,0.41);
    box-shadow: 3px 11px 15px 5px rgba(0,0,0,0.41);
  }

 .card-index {
    border: 1px transparent;
    transition: ease-in-out 0.5s;
    margin-top: 3px;
    // display: flex;
    background: white;
    padding: 5px;
    -webkit-box-shadow: 3px 11px 15px -7px rgba(0,0,0,0.41);
    -moz-box-shadow: 3px 11px 15px -7px rgba(0,0,0,0.41);
    box-shadow: 3px 11px 15px -7px rgba(0,0,0,0.41);
  }


.card-index > img {
  max-height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: fit-content;

}


.card-index p {
  font-size: 14px;
  // opacity: .7;
  margin: 0;
  color: #95A5B8;
  height: 80px;

}


.prod-img {
  width: 250px;
  height: 250px;
  display: flex;
}

.card-h{
  // width: 1209px;
  // height: 742px;
  background: white;
  margin: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  // left:70px;
  // top:60px;
  display: flex;
  .card-h-body {
    flex: 1 1 auto;
    background: none;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-right:  4px solid #95A5B8;
  }
  .card-h-map {
    background:none;
    flex: 0 0 500px;
  }
}
.card-h-body h1{
  color: #95A5B8;
  margin-left: 60px;
  font-family:Roboto;
  font-size:36px;
}
.card-h-map img{
  margin-top: 20px;
  margin-right:20px;
  margin-bottom:20px;
  border-radius:20px;
  box-shadow:20px;
}
.card-h-body img{
  image-rendering: auto;
  image-rendering: crisp-edges;
  width:350px;
  margin-left: 40px;
  margin-top: 160px;
}

.text-info p{
  text-align: center;
  color: #95A5B8;
  margin-top: 20px;
}

.details img {
   width: 80px;
  transform: rotate(90deg);
}


