
.card-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.card-index > img {
  max-height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.card-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.prod-img {
  width: 250px;
  height: 250px;
}

.text-info p{
  text-align: center;
  color: #95A5B8;
  margin-top: 20px;
}


