.product-show-button {
   border-radius: 10px;
   margin-top: 32px;
   margin-right: 5px;
   margin-bottom: 20px;
}

.product-show-button:hover {
  color: green;
}



.modal-body{
  border-radius: 12px;
  color:#6D7D90;
}


.product-show-header {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #95A5B8;
}

.product-description p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }


.product-show-details {
  margin-left: 32px;

  h1 {
    margin-bottom: 24px;
  }

  p {
  font-size: 20px;
  color: #6D7D90;
  }

  img {
    height: 36px;
    width: 100px;
  }
}



.top h4 {
    color: #6D7D90;
    margin-top: -14px;
    margin-bottom: 32px;
}

.modal-header h5 {
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 31px;
line-height: 39px;
text-align: center;
color: #743038;
}

.details img {
  margin: inherit;

}

.other-details {
  margin-left: 100px;
  margin-top: -40px;

}

.product-show-card > img {
  width: 200px;
  height: 200px;
  display: flex;
  margin-top: 40px;
}


.modal-content {
  width: 420px;
  height: 500px;
  margin-top: 100px;
  border-radius: 16px;
}

.modal-header {
  border: none;
}

.modal-header h5 {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 200px;
}

.modal-body {
  text-align: center;
  width: 100%;
}
.product-show-container h3{
 color:red;
}


.confetti{
  vertical-align: middle;
  border-style: none;
  width: 77px;
  height: 72px;
  position: absolute;
  margin-left: 140px;
  top: 130px;
}
.product-show-card h3{
    color: #743038;
    position: absolute;
    left: 14.86%;
    right: 32.15%;
    top: 50px;
    bottom: 76.67%;

}

.prod-img {
  width: 180px;
  height: 180px;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-section{
  background: #ee6a69;
  box-shadow: 0px 0px 15px rgba(255, 83, 103, 0.2);
  border-radius: 50px 50px 0px 0px;
  height:315px;
  width: 1250px;
  margin: auto;


}



h3{
  color:#743038;

}


.card-middle{
  width: 351px;
  height:186px;
  background-color:#FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-top:55px;

}
.card-right{
  width: 351px;
  height:186px;
  background-color:#FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-top:55px;
  margin-right:10px;


}
.bottom-section{
  padding: 10px;
  top:20px;

}


h6{
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 20px;
color:white;
margin-left:72px;
margin-top:20px;
}
.product-description{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 140%;
  color: #95A5B8;
}
.prod-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-right: 20px;
}




.other-products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.card-info{
  text-align: right;
  padding-right: 39px;
  margin-left: 16px;
}

.card-left {
  width: 351px;
  height:186px;
  background-color:#FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-left img {
  width:100px;
  height:100px;
}

.card-left p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #EF5C5B !important;
}

.card-supermkt-name {
  text-align: left;

}

.card-supermkt-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-supermkt-infos img {
    width: 100px;
    height: 35px;
}


 .card-product-price {
     font-size: 20px;
     font-weight: bold;
     color: #FF5367;
     display: block;
     padding: 6px 10px 6px 10px;
     border: 1px solid #FF5367;
     width: fit-content;
     background-color: #fefefe;
     border-radius: 6px;
 }

.bottom-container {
 max-width: 1127px;
 margin: auto;
 margin-top: 16px;
}

