
.card-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.card-index > img {
  max-height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.card-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}




