.firstheading {
  color: #EF5C5B;
  margin-left: 8px;
  font-family: Quicksand;

}
.left-section h1{
  color:#95A5B8;
  margin:10px;
}

.modal-content {
  position: relative;
  z-index: 10;
}


// h2{
//    color:black;
// }

