.searchbox {
  width: 48%;
  margin-top: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.dflex {
  width: 99%;
  display: flex;
  justify-content: space-around;
}
.input50 {
  width: 48%;
  margin: 10px;
  border-radius: 8px;
  padding: 8px;
}
.input100 {
  width: calc(100% - 24px);
  background: rgba(255, 255, 255, 0);
  background-color: none;
  border: none;
  border-bottom: 4px solid;
  line-height: 24px;
  font-size: 24px;
}

.home-search-button {
  width: calc(48% - 24px);
  background: rgba(255, 255, 255, 0);
  background-color: none;
  border: none;
  border-bottom: 4px solid;
  line-height: 24px;
  font-size: 24px;
  &:focus{
    outline: none;
  }
  margin: 5px;
}

.search-form {
  padding: 20px;
  padding-bottom: 32px;
  padding-top: 32px;

}
.input100.cherry-btn{
background-color:#95A5B8;
border-radius: 8px;
padding: 12px;
width: calc(100% - 24px);
opacity: 0.6;
color: white;
font-size: 16px;

}
.dflex.input50{
}


.no-border{
  border: none;
  &:focus {
    outline: none;

  }
}

#product.input100 {
  color: #6D7D90;
}

