.profile-page {
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  box-shadow: 0 4px 46px rgba(238, 106, 105, 0.15);
  // height: 77vh;
}
.profile-page h3{
  margin-top:0px;
  font-size: 26px;
  font-weight: bolder;
 margin-right: 800px;
}
.container-profile h4{
  margin-top:0px;
  font-size: 20px;
  color:  #6D7D90;
  font-weight: bolder;
  margin-left: 14px;
}
.container-profile h5{
  margin-top:0px;
  font-size: 16px;
  color:  #6D7D90;
  font-weight: bolder;
  margin-left: 14px;
  padding-top:20px;
}
.container-profile-2 {
  // background-color: #EE6A69;
  margin-left: 14px;
 border-radius: 20px;
 box-shadow: 0 4px 46px rgba(238, 106, 105, 0.15);
}
.container-profile-2 h3{
  padding-top:20px;
  font-size: 20px;
  color:  #6D7D90;
  font-weight: bolder;
  margin-right: 838px;
  padding-left:0;
  margin-left:0;
}
.profile-page h2{
  color:  #6D7D90;
}
.spmkt-img-2 img{
  width: 50px;
  height: 30px;
  }
