.profile-page {
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  // padding-right: 40px;
  // padding-left: 40px;
  box-shadow: 0 4px 46px rgba(238, 106, 105, 0.15);
  // height: 77vh;
}
.profile-page h3{
  margin-top:0px;
  font-size: 26px;
  font-weight: bolder;
 margin-right: 800px;
}
.container-profile h4{
  margin-top:0px;
  font-size: 20px;
  color:  #6D7D90;
  font-weight: bolder;
  margin-left: 14px;
}
.profile-picture{
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.search-form1{
  margin-top: 6px;
  padding-top: 8px;
}
.supermarket{
  width: 48%;
  margin-top: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
    &:focus{
    outline: none;
  }
}

.container-profile h5{
  margin-top:0px;
  font-size: 16px;
  color:  #6D7D90;
  font-weight: bolder;
  margin-left: 14px;
  padding-top:20px;
}
.container-profile-2 {
  background-color: #EE6A69;
  // margin-left: 14px;
 border-radius: 20px;
 box-shadow: 0 4px 46px rgba(238, 106, 105, 0.15);
 padding: 40px;
}
.container-profile-2 h3{
  color: #ffffff !important;
  font-size: 20px;
  color:  #6D7D90;
  font-weight: bolder;
  margin-right: 838px;
  padding-left:0;
  // margin-left: 49px;
  text-align: left;

}
.profile-page h2{
  color:  #6D7D90;
  padding-left: 40px;
}
.spmkt-img-2 img{
  width: 96px;
  }
