<div class="container">
  <div>
    <h1 style="margin-left: 20px; margin-top: 20px; margin-bottom: 25px">Your Products</h1>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card-trip mb-3 p-3" style="border-radius:10px">
          <%= image_tag product.image, alt: "alttext", class: "prod-img" %>
          <div class="card-trip-infos">
            <h2 class="mb-2" style="width: 170px"><%= product.name%></h2>
            <p><strong>Price from:</strong> <% product.price%>
            <div>
              <%= link_to "View Details", product_path(product), class: "btn btn-primary rounded mt-3"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
